.container-container {
  width: 700px;
  padding: 1em;
  margin: 0 auto;
}

.entry-dialog {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.message-item {
  font-size: 16px;
  font-weight: 500;
}