.auth-tab {
  display: flex;
  justify-content: center;
  padding: 1em;
  font-family: "Open Sans", sans-serif;
}

.auth-box-container {
  background: white;
  width: 332px;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.auth-box-tab-nav {
  height: 48px;
  background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(244, 244, 245));
  border-bottom: 1px solid rgba(0,0,0,.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box-tab-nav a {
  height: 48px;
  line-height: 48px;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  color: #00426b;

  display: flex;
  align-items: center;
  padding: 0 16px 0 16px;
}

.auth-box-tab-nav a:hover {
  color: #00b4cc;
}

.selected-tab {
  color: #00426b !important;
  border-bottom: 2px solid #00426b;
}

.signed-out-tab-container {
  padding: 1.5em;
}

.auth-form {
  width: 100%;
}

.input-container {
  padding: 20px 0;
  text-align: left;
  box-sizing: border-box;
}

.text-input {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  outline: none;
}

.text-input-error {
  display: block;
  font-size: 12px;
  color: #d50000;
  margin-top: 3px;
  line-height: 20px;
  height: 20px;
}

.auth-btn {
  background-color: #59b300;
  color: white;
  width: 100%;
  font-size: 1.3em;
  margin: 1.5em 0;
  padding: 15px 0;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}

.auth-btn:disabled {
  background-color: rgba(0,0,0,.12);
  color: rgba(0, 0, 0,.26);
}