.vert-nav-container {
  padding-bottom: 8px;
}

.vert-nav-header {
  padding: 8px 16px;
  background: rgba(0, 0, 0, 0.05);
  font-size: 11px;
}

#settings-header {
  margin-bottom: 4px;
}

#support-header {
  margin: 4px 0;
}

.vert-nav-item {
  display: flex;
  align-items: center;
  height: 48px;
  padding: 10px 16px;
  box-sizing: border-box;
  user-select: none;

  font-size: 16px;
  line-height: 130%;
  color: rgba(0, 0, 0, 0.9);
}

.logout-btn {
  background: none;
  border: none;
  width: 100%;
}

.disabled-nav-item {
  background-color: rgba(0,0,0,.12);
  color: rgba(0, 0, 0,.26);
  cursor: default;
  pointer-events: none;
}