html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(0,0,0,0.1);
  text-align: center;
}

div {
  box-sizing: border-box;
}

input, textarea {
  font-family: 'Open Sans', sans-serif;
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

span {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('./images/blur-013.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
}