.aam-header {
  margin-bottom: 1em;
  height: 68px;

  display: flex;
  align-items: center;
}

.aam-header-content {
  width: 100%;
  margin: 16px;
  display: flex;
  align-items: center;
}

.aam-title {
  font-size: 1.5em;
  font-weight: 600;
  flex-grow: 1;
  line-height: 140%;
}